<div class="col-md-9 col-md-height col-top uzbek-content padding-t">
    
    <div class="row" style="margin: 0;">
        
        {foreach $album as $getAlbum}
        <div class="col-xs-4" style="margin-bottom: 10px;">
            <div class="uzbek-album">
            <a href="{$basedomain}media/viewAlbum/?id={$getAlbum.id}">
                <img src="{$basedomain}public_assets/gallery/images/{$getAlbum.image}">
            </a>
            <div class="caption_album">
                <a href="{$basedomain}media/viewAlbum/?id={$getAlbum.id}">{$getAlbum.title}</a>
                <!--<p class="text-muted">100 photos</p>-->
            </div>
            </div>
        </div>
        {/foreach}
    </div>

</div>