<!-- FILE HEADER -->
    {include file="template/header.html"}
<!-- END FILE HEADER -->

<div class="container uzbek-container">
      <div class="row uzbek-row">
        <!-- FILE LEFTBAR -->
            {include file="template/leftbar.html"}
        <!-- END FILE LEFTBAR -->


        <div class="col-xs-12 col-sm-9 uzbek-col col-top uzbek-midbar">
            <div class="uzbek-indexNews">

                {$contact = $language.contact_us}
                {$office = $language.our_office}
                {$address = $language.address}
                {$phone = $language.phone}
                {$email = $language.email_address}
                {$fullname = $language.fullname}
                {$msg = $language.message}
                {$subject = $language.subject}
                {$send_message = $language.send_message}
                {$send = $language.send}
                
                <h3>{$contact}</h3>
                <!-- START NEWS -->
                
                <div class="row">
                    <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                        <h4>{$office}</h4>

                        <table width="100%" border="0" cellspacing="0" cellpadding="4" class="home_content">
                            <tbody>
                                <tr valign="top">
                                    <td align="left">{$address}</td>
                                    <td align="center">:</td>
                                    <td align="left">Jl. Daksa III. 14, Kebayoran Baru, Jakarta Selatan</td>
                                </tr>
                                <tr valign="top">
                                    <td align="left">{$phone}</td>
                                    <td align="center">:</td>
                                    <td align="left">(62-21) 7200950/7200972</td>
                                </tr>
                                <tr valign="top">
                                    <td align="left">{$email}</td>
                                    <td align="center">:</td>
                                    <td align="left">inbox@uzbemb.or.id</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <br>
                        <h4>{$send_message}</h4><br>
                        <form class="form-horizontal" role="form" method="POST" action="contact/send_message">
                          <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">{$fullname}</label>
                            <div class="col-sm-8">
                              <input type="text" name="name" class="form-control" id="inputName" placeholder="{$fullname}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">{$email}</label>
                            <div class="col-sm-8">
                              <input type="email" name="mail" class="form-control" id="inputEmail" placeholder="{$email}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress" class="col-sm-3 control-label">{$address}</label>
                            <div class="col-sm-8">
                              <textarea name="address" class="form-control" id="inputAddress" placeholder="{$address}"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputSubject" class="col-sm-3 control-label">{$subject}</label>
                            <div class="col-sm-8">
                              <input type="text" name="subject" class="form-control" id="inputSubject" placeholder="{$subject}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputMsg" class="col-sm-3 control-label">{$msg}</label>
                            <div class="col-sm-8">
                              <textarea name="message" class="form-control" id="inputMsg" placeholder="{$msg}"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                              <button type="submit" class="btn btn-default">{$send}</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>    
            </div>

        </div>
  </div>
</div>

<!-- FILE BOTTOM MENU -->
    {include file="template/bottomMenu.html"}
<!-- END FILE BOTTOM MENU -->

<!-- FILE JAVASCRIPT -->
    {include file="template/javascript.html"}
<!-- END FILE JAVASCRIPT -->

<!-- FILE FOOTER -->
    {include file="template/footer.html"}
<!-- END FILE FOOTER -->