<!-- FILE HEADER -->
    {include file="template/header.html"}
<!-- END FILE HEADER -->

<div class="container uzbek-container">
      <div class="row uzbek-row">
        <!-- FILE LEFTBAR -->
            {include file="template/leftbar.html"}
        <!-- END FILE LEFTBAR -->


        <div class="col-xs-12 col-sm-9 uzbek-col col-top uzbek-midbar">
            <div class="uzbek-indexNews">
                
                {$title = $language.title_field}
                {$content2 = $language.content_field}

                {foreach $content as $getContent}
                <h3>{$getContent.$title}</h3>
                <!-- START NEWS -->
                
                <div class="row">
                    
                    <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                        {if $getContent.image}
                          <img src="{$basedomain}public_assets/news/image/{$getContent.image}" class="img-responsive">
                        {/if}
                        <p class="content text-justify">{$getContent.$content2|html_entity_decode}</p>
                        <!--<a href="#" class="more pull-right">Read more..</a>
                        <div class="clearfix"></div>-->
                    </div>
                    {/foreach}
                </div>    
            </div>

        </div>
    </div>
</div>

<!-- FILE BOTTOM MENU -->
    {include file="template/bottomMenu.html"}
<!-- END FILE BOTTOM MENU -->

<!-- FILE JAVASCRIPT -->
    {include file="template/javascript.html"}
<!-- END FILE JAVASCRIPT -->

<!-- FILE FOOTER -->
    {include file="template/footer.html"}
<!-- END FILE FOOTER -->