<div class="col-md-9 col-md-height col-top uzbek-content padding-t">
    <div class="uzbek-indexNews">
        
        {$title = $language.title_field}
        {$content2 = $language.content_field}

        {foreach $content as $getContent}
        <h3>{$getContent.$title}</h3>
        <!-- START NEWS -->
        
        <div class="row">
            
            <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                {if $getContent.image}
                  <img src="{$basedomain}public_assets/news/image/{$getContent.image}" class="img-responsive">
                {/if}
                <p class="content text-justify">{$getContent.$content2|html_entity_decode}</p>
                <!--<a href="#" class="more pull-right">Read more..</a>
                <div class="clearfix"></div>-->
            </div>
            {/foreach}
        </div>    
    </div>

</div>