<div class="col-md-9 col-md-height col-top uzbek-content">
    {include file="template/banner.html"}

    {foreach $headlines as $getHeadlines}
      {$content = $language.content_field}

      {$getHeadlines.$content|html_entity_decode}
    {/foreach}
    
    <div class="uzbek-indexNews">
        <h3>NEWS</h3>
        <!-- START NEWS -->
        
        <div class="row">
            {foreach $news as $briefNews}
            <div class="col-md-4" style="margin-top: 10px; margin-bottom: 10px;">
                <p class="date">{$briefNews.posted_date|date_format}</p>
                <a href="{$basedomain}home/content/?id={$briefNews.id}&&type=4&&lang={$smarty.session.lang}" class="title">{$briefNews.title|truncate:50}</a>
                <p class="content">{$briefNews.brief|truncate:100}</p>
                <!--<a href="#" class="more pull-right">Read more..</a>
                <div class="clearfix"></div>-->
            </div>
            {/foreach}
        </div>    
    </div>

    <div class="row">
    <div class="col-md-12">
      <div class="row padding-lr">
        <div class="col-md-4 col-md-height col-top uzbek-indexPhoto">
          <a href="{$basedomain}media/album" class="title">Photo</a>
          <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              {foreach $newestPhoto as $getNewestPhoto}
                {if $getNewestPhoto@first}
                <div class="item active">
                {else}
                <div class="item">
                {/if}
                  <a href="{$basedomain}media/viewAlbum/?id={$getNewestPhoto.id}"><img src="{$getNewestPhoto.file}" class="img-responsive" style="height: 155px;"></a>
              </div>
              {/foreach}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div> <!-- END OF COL-MD-3 COL-TOP-->
        <div class="col-md-8 col-md-height col-top uzbek-indexVideo padding-b">
          <a href="{$basedomain}media/video" class="title">Video</a><br>
          <div class="row">
            {foreach $newestVideo as $video}
              {if $video.video_type == 'file'}
              <div class="col-md-6">
                <video height="155" controls style="width: 100%;">
                  <source src="{$basedomain}public_assets/video/{$video.video}" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
                <a href="{$basedomain}media/viewVideo/?id={$getVideo.id}" style="color: #FFF; font-size: 11px;display: block;">{$video.title_en}</a>
              </div>
               {elseif $video.video_type == 'embed'}
               <div class="col-md-6">
                
                <div class="embed-responsive embed-responsive-4by3">
                  {$video.content_en}
                </div>
                <a href="{$basedomain}media/viewVideo/?id={$getVideo.id}" style="color: #FFF; font-size: 11px;display: block;">{$video.title_en}</a>
              </div>
              {/if}
            {/foreach}
          </div>
        </div>
      </div>
    </div>
    </div> 
</div>
