<div class="col-md-9 col-md-height col-top uzbek-content padding-t">
    <div class="uzbek-indexNews">
        
        {$menu = $language.menu_field}
        {$title_field = $language.title_field}
        {$brief_field = $language.brief_field}

        {foreach $title as $getTitle}
        <h3 style="margin-bottom: 20px;">{$getTitle.$menu}</h3>
        {/foreach}
        <!-- START NEWS -->
        
        <div class="row">
            {foreach $content as $getContent}
            <div class="col-md-12">
                <p class="date">{$getContent.posted_date|date_format}</p>
                <a href="{$basedomain}home/content/?id={$getContent.id}&&type=4&&lang={$smarty.session.lang}" class="title">{$getContent.$title_field}</a>
                <p class="content text-justify">{$getContent.$brief_field}</p>
                <hr class="nomargin-t margin-b">
                <!--<a href="#" class="more pull-right">Read more..</a>
                <div class="clearfix"></div>-->
            </div>
            {/foreach}
        </div>    
    </div>

</div>