{include file="template/meta.html"}
<body>
	<!-- RUNNING GLOBAL VAR -->
	<script>
		var basedomain = "{$basedomain}";
	</script>
	
    {*}
    <!-- HEADER DEFAULT -->
    {include file="template/header.html"}
    
    <!-- LEFTBAR -->
    <div class="container uzbek-container">
      <div class="row uzbek-row">
        {include file="template/leftbar.html"}
        
    <!-- CONTENT -->
	{$content}

    <!-- RIGHTBAR -->
        {include file="template/rightbar.html"}
      </div>
    </div>
	
	<!-- FOOTER -->
    {include file="template/footer.html"}
    {/*}

    <!-- CONTENT -->
    {$content}
