{include file="template/meta.html"}
<body>
	<!-- RUNNING GLOBAL VAR -->
	<script>
		var basedomain = "{$basedomain}";
	</script>
	
    <!-- HEADER DEFAULT -->
    {include file="template/header.html"}

    <!-- LEFTBAR -->
    <div class="container uzbek-container">
      <div class="row uzbek-row">
      <!-- FILE LEFTBAR -->
          {include file="template/leftbar.html"}
      <!-- END FILE LEFTBAR -->

    {$content}

    <!-- FILE BOTTOM MENU -->
    {include file="template/bottomMenu.html"}
    <!-- END FILE BOTTOM MENU -->

    <!-- FILE JAVASCRIPT -->
        {include file="template/javascript.html"}
    <!-- END FILE JAVASCRIPT -->

    </div>

    <!-- FILE FOOTER -->
        {include file="template/footer.html"}
    <!-- END FILE FOOTER -->
