{if $status == 'maintenance'}
    {include file="under_maintenance.html"}
{else}
{include file="template/meta.html"}
<body>
	<!-- RUNNING GLOBAL VAR -->
	<script>
		var basedomain = "{$basedomain}";
	</script>
	
    <!-- HEADER DEFAULT -->
    {include file="template/header.html"}
   
    <!-- FILE LEFTBAR -->
      {include file="template/leftbar.html"}
    <!-- END FILE LEFTBAR -->

    {$content}

            </div>
        </div>
    </div>

    <!-- FILE BOTTOM MENU -->
    {include file="template/bottomMenu.html"}
    <!-- END FILE BOTTOM MENU -->

    
    </div>

    <!-- FILE JAVASCRIPT -->
        {include file="template/javascript.html"}
    <!-- END FILE JAVASCRIPT -->

    </div>

    <!-- FILE FOOTER -->
        {include file="template/footer.html"}
    <!-- END FILE FOOTER -->

{/if}
