<!-- FILE HEADER -->
    {include file="template/header.html"}
<!-- END FILE HEADER -->

<div class="container uzbek-container">
      <div class="row uzbek-row">
        <!-- FILE LEFTBAR -->
            {include file="template/leftbar.html"}
        <!-- END FILE LEFTBAR -->


        <div class="col-xs-12 col-sm-9 uzbek-col col-top uzbek-midbar" style=" padding-top: 20px;">
            
            <div class="row" style="margin: 0;">
                
                {foreach $video as $getVideo}
                  {if $getVideo.video_type == 'file'}
                  <div class="col-md-4">
                  <video height="130" controls>
                    <source src="{$basedomain}public_assets/video/{$getVideo.video}" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
                  <a href="{$basedomain}media/viewVideo/?id={$getVideo.id}" style="color: #111; font-size: 11px;display: block;">{$getVideo.title_en}</a>
                  </div>
                  {elseif $getVideo.video_type == 'embed'}
                  {*}{$getVideo.content_en}{/*}
                  {/if}
                {/foreach}
            </div>

        </div>
    </div>
</div>

<!-- FILE BOTTOM MENU -->
    {include file="template/bottomMenu.html"}
<!-- END FILE BOTTOM MENU -->

<!-- FILE JAVASCRIPT -->
    {include file="template/javascript.html"}
<!-- END FILE JAVASCRIPT -->

</div>

<!-- FILE FOOTER -->
    {include file="template/footer.html"}
<!-- END FILE FOOTER -->