
<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	<div>
	</div>
	<div id="search">
		<form>
			<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

			<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
		</form>		
	</div> <!-- #search -->

	<nav id="sidebar">		
		
		<ul id="main-nav" class="open-active">
            
			<li class="button {if $page.page=='home' || $page.page=='article' || $page.page=='agenda'}active{/if}">
				<a href="{$basedomain}home">
					<i class="fa fa-file-text"></i>
					Menu
				</a>				
			</li>
            
            <li class="button {if $page.page=='banner'}active{/if}">
				<a href="{$basedomain}banner">
					<i class="fa fa-file-text"></i>
					Banner
				</a>				
			</li>
            
			{foreach $menu as $key => $pos}
			<li class="dropdown">
				<a href="{$basedomain}content">
					<i class="fa fa-file-text"></i>
					{$key} Content
					<span class="caret"></span>
				</a>
    			{foreach $pos as $eachMenu}
    			<ul class="sub-nav">
     			<li class="button {if $page.page=='{$eachMenu.nm_eng}'}active{/if}"> 
    			
                    <a href="{$basedomain}content/menu/?id={$eachMenu.id}">
    					<i class="fa fa-file-text"></i>
                        {if $eachMenu.parent}
                            {$eachMenu.parent.nm_eng} -> 
                        {/if}
                        {$eachMenu.nm_eng}
    				</a>		
    			
     			</li> 
    			</ul>
    			{/foreach}
			</li>
            {/foreach}
            
            <li class="dropdown {if $page.page=='video' || $page.page=='gallery' }active{/if}">
				<a href="">
					<i class="fa fa-file-text"></i>
					Gallery
					<span class="caret"></span>
				</a>
    			
    			<ul class="sub-nav">
         			<li class="button"> 
        			
                        <a href="{$basedomain}gallery">
        					<i class="fa fa-picture-o"></i>
                            Image
        				</a>		
        			
         			</li> 
    			</ul>
                
                <ul class="sub-nav">
         			<li class="button"> 
        			
                        <a href="{$basedomain}video">
        					<i class="glyphicon glyphicon-play"></i>
                            Video
        				</a>		
        			
         			</li> 
    			</ul>
			</li>
            
            <li class="button {if $page.page=='book'}active{/if}">
				<a href="{$basedomain}book/booklist">
					<i class="fa fa-file-text"></i>
					Book
					<!--span class="caret"></span-->
				</a>				
			</li>
            
            <li class="button {if $page.page=='headlines'}active{/if}">
				<a href="{$basedomain}headlines">
					<i class="fa fa-file-text"></i>
					Headlines
					<!--span class="caret"></span-->
				</a>				
			</li>
            
            <!--<li class="button {if $page.page=='contactinfo'}active{/if}">
				<a href="{$basedomain}contactinfo">
					<i class="fa fa-file-text"></i>
					Contact Information
				</a>				
			</li>-->
			
			<li class="button {if $page.page=='message' }active{/if}">
				<a href="{$basedomain}message">
					<i class="fa fa-file-text"></i>
					Messages
					<!--span class="caret"></span-->
				</a>				
			</li>

			<li class="button {if $page.page=='contactus' }active{/if}">
				<a href="{$basedomain}contactus">
					<i class="fa fa-file-text"></i>
					Contact Us
					<!--span class="caret"></span-->
				</a>				
			</li>
			
			
            
            		 
			{*}
			<li class="dropdown">
				<a href="javascript:;">
					<i class="fa fa-picture-o"></i>
					Upload Frame & Cover 
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}article/upload">
							<i class="fa fa-facebook"></i> 
							Facebook
						</a>
					</li>
					<li>
						<a href="{$basedomain}article/uploadtwt">
							<i class="fa fa-twitter"></i> 
							Twitter
						</a>
					<li>
						<a href="{$basedomain}home/frame">
							<i class="fa fa-list-alt"></i> 
							Frame List
						</a>
					</li>
				</ul>
			</li>	
			{/*}
		</ul>
				
	</nav> <!-- #sidebar -->

</div> <!-- /#sidebar-wrapper -->