
<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	<div>
	</div>
	<div id="search">
		<form>
			<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

			<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
		</form>		
	</div> <!-- #search -->

	<nav id="sidebar">		
		
		<ul id="main-nav" class="open-active">			
			
			
			<li class="button {if $page.page=='home' || $page.page=='article' || $page.page=='agenda'}active{/if}">
				<a href="{$basedomain}home">
					<i class="fa fa-file-text"></i>
					Top Menu Configuration
					<!--span class="caret"></span-->
				</a>				
			</li>
            
            <li class="button">
				<a href="#">
					<i class="fa fa-file-text"></i>
					Bottom Menu
					<!--span class="caret"></span-->
				</a>				
			</li>
			
			<li class="dropdown {if $page.page=='content' || $page.page=='addcontent'}active{/if}">
				<a href="{$basedomain}content">
					<i class="fa fa-file-text"></i>
					Content Management
					<span class="caret"></span>
				</a>
    			{foreach $menu as $eachMenu}
    			<ul class="sub-nav">
     			<li class="button {if $page.page=='{$eachMenu.nm_eng}'}active{/if}"> 
    			
                    <a href="{$basedomain}content/menu/?id={$eachMenu.id}">
    					<i class="fa fa-file-text"></i>
                        {if $eachMenu.parent}
                            {$eachMenu.parent.nm_eng} -> 
                        {/if}
                        {$eachMenu.nm_eng}
    					<!--span class="caret"></span-->
    				</a>		
    			
     			</li> 
    			</ul>
    			{/foreach}
			</li>
			
			<li class="button {if $page.page=='gallery'}active{/if}">
				<a href="{$basedomain}gallery">
					<i class="fa fa-file-text"></i>
					Gallery
					<!--span class="caret"></span-->
					
				</a>				
			</li>
			
			<li class="button {if $page.page=='topical' || $page.page=='addtopical'}active{/if}">
				<a href="{$basedomain}topical">
					<i class="fa fa-file-text"></i>
					Topical Issues
					<!--span class="caret"></span-->
				</a>				
			</li>
            
            <li class="button {if $page.page=='headlines'}active{/if}">
				<a href="{$basedomain}headlines">
					<i class="fa fa-file-text"></i>
					Headlines
					<!--span class="caret"></span-->
				</a>				
			</li>
			
			<li class="button {if $page.page=='contact' }active{/if}">
				<a href="{$basedomain}contact">
					<i class="fa fa-file-text"></i>
					Contact Us
					<!--span class="caret"></span-->
				</a>				
			</li>
			
			
            
            		 
			{*}
			<li class="dropdown">
				<a href="javascript:;">
					<i class="fa fa-picture-o"></i>
					Upload Frame & Cover 
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}article/upload">
							<i class="fa fa-facebook"></i> 
							Facebook
						</a>
					</li>
					<li>
						<a href="{$basedomain}article/uploadtwt">
							<i class="fa fa-twitter"></i> 
							Twitter
						</a>
					<li>
						<a href="{$basedomain}home/frame">
							<i class="fa fa-list-alt"></i> 
							Frame List
						</a>
					</li>
				</ul>
			</li>	
			{/*}
		</ul>
				
	</nav> <!-- #sidebar -->

</div> <!-- /#sidebar-wrapper -->