<nav id="top-bar" class="collapse top-bar-collapse">

	<ul class="nav navbar-nav pull-left">
		<li class="">
			<a href="{$basedomain}home">
				<i class="fa fa-home"></i> 
				Home
			</a>
		</li>
		
	</ul>

	<ul class="nav navbar-nav pull-right">
		<li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">{count($notif)}</span>
            </a>

            <ul class="dropdown-menu extended inbox">
            {if count($notif) != 0}
                <li>
                    <p class="green">You have {count($notif)} new messages</p>
                </li>
                {foreach $notif as $getNotif}
                <li>
                    <a href="{$basedomain}contact/view/?id={$getNotif.id}">
                        <span class="subject">
                            <span class="from"><strong>{$getNotif.name}</strong></span>
                        </span>
                        <span class="message">
                            {$getNotif.subject}
                        </span>
                    </a>
                </li>
                {/foreach}
            {/if}
                <li>
                    <a href="{$basedomain}contact">See all messages</a>
                </li>
            </ul>
        </li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
				<i class="fa fa-user"></i>
				{$admin.admin.name}
				<span class="caret"></span>
			</a>

			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="{$basedomain}profile">
						<i class="fa fa-cogs"></i> 
						&nbsp;&nbsp;Settings
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{$basedomain}logout.php">
						<i class="fa fa-sign-out"></i> 
						&nbsp;&nbsp;Logout
					</a>
				</li>
			</ul>
		</li>
	</ul>

</nav> <!-- /#top-bar -->