{if $bottomMenu}
<div class="row">
  <div class="col-md-12">
    <div class="doubleLine">
      <div class="thick"></div>
      <div class="thin"></div>
      <div class="title text-center" style="margin-top: -40px;">
        <span style="background:none;">
          <img src="{$basedomain}assets/img/uzbekistan emblem.png" style="width: 72px;">
        </span></div>
    </div>

    <h3>IMPORTANT LINKS</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          {$title = $language.title_field}
          {foreach $bottomMenu as $getBottom}
          <div class="col-md-3">
            <div class="menuBottom margin-b">
            <a href="{$basedomain}home/content/?id={$getBottom.id}&&type=3&&lang={$smarty.session.lang}">
              <div class="row">
                <div class="col-xs-3">
                  <img src="{$getBottom.file_icon}" width="50px" height="50px">
                </div>
                <div class="col-xs-9">
                  {$getBottom.$title}
                </div>
              </div>
            </a>
            </div>
          </div>
          {/foreach}
        </div>
      </div>
    </div>
  </div>
</div>
{/if}