<div class="col-xs-12 col-sm-3 uzbek-col uzbek-leftbar col-top">
	
	<div class="sidebar">
		<ul class="dropdown-menu" style="display: block; position: static;"> 
			{if $smarty.session.lang == '0' || $smarty.session.lang == ''}
            	{$menu = 'nm_bhs'}
            	{$title = 'title_bhs'}
            {elseif $smarty.session.lang == '1'}
            	{$menu = 'nm_eng'}
            	{$title = 'title_en'}
            {else}
            	{$menu = 'nm_uzbek'}
            	{$title = 'title_uzbek'}
            {/if}
	            
			{foreach $leftMenu as $getLeftMenu} 
			{if $getLeftMenu.child == ''}
				<li><a href="{$basedomain}home/content/?id={$getLeftMenu.id}&&type={$getLeftMenu.menu_type}" class=" ">{$getLeftMenu.$menu} </a></li>
			{else}
				<li class="dropdown-submenu"><a href="#">{$getLeftMenu.$menu}</a>
					<ul class="dropdown-menu">
						{foreach $getLeftMenu.child as $getSubMenu}
					        <li><a href="{$basedomain}home/content/?id={$getSubMenu.id}&&type={$getSubMenu.menu_type}">{$getSubMenu.$menu}</a></li>
					    {/foreach}
					</ul>
				</li>
			{/if}
			{/foreach}
		</ul>
		<div class="clearfix"></div>
	</div>

	<a href="#" class="book" style="font-family:sans-serif;">
		<h3>BOOK</h3>
		<img src="{$basedomain}public_assets/img/book_president.png">
		<br>by President of Uzbekistan Islam Karimov
	</a>

	<div class="topicalIssues">
		<h3>TOPICAL ISSUES</h3>

	<!-- START MENU -->
		{foreach $topicalIssues as $getTopical}
		<div class="menu">
			<a href="{$basedomain}home/content/?id={$getTopical.id}&&type=2" class="row">
				<div class="col-md-3" style="padding:0;">
					<img src="{$basedomain}public_assets/news/icon/{$getTopical.icon_image}" width="50px" height="50px">
				</div>
				<div class="col-md-9" style="padding-left:0; font-size: 12px;">
					{$getTopical.$title}
				</div>
			</a>
		</div>
		{/foreach}

	</div>
</div>