<div class="container uzbek-container margin-b">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3 col-md-height col-top uzbek-sidebar padding-tb">
					<!-- LEFTBAR -->
					<div class="row">
						<div class="col-md-12">
							<ul class="dropdown-menu" style="display: block; position: static;"> 
								
								{$menu = $language.menu_field}
								{$title = $language.title_field}
								{$photo_galerry = $language.photo_gallery}
								{$video = $language.video}
						            
								{foreach $leftMenu as $getLeftMenu} 
								{if $getLeftMenu.child == ''}
									<li><a href="{$basedomain}home/content/?id={$getLeftMenu.id}&&type={$getLeftMenu.menu_type}&&lang={$smarty.session.lang}" class=" ">{$getLeftMenu.$menu} </a></li>
								{else}
									<li class="dropdown-submenu"><a href="#">{$getLeftMenu.$menu}</a>
										<ul class="dropdown-menu">
											{foreach $getLeftMenu.child as $getSubMenu}
										        <li><a href="{$basedomain}home/content/?id={$getSubMenu.id}&&type={$getSubMenu.menu_type}&&lang={$smarty.session.lang}">{$getSubMenu.$menu}</a></li>
										    {/foreach}
										</ul>
									</li>
								{/if}
								{/foreach}
								<li><a href="{$basedomain}media/album">{$photo_galerry}</a></li>
								<li><a href="{$basedomain}media/video">{$video}</a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
                        {if $newestBook}
                        {foreach $newestBook as $book}
						<a target="_blank" href="https://docs.google.com/viewer?url={$book.files}" class="book" style="font-family:sans-serif;">
							<h3>{$book.title}</h3>
							<img class="img-responsive" style="width: 100px;height:138px;" src="{$book.file_icon}">
							<br>by President of Uzbekistan Islam Karimov
						</a>
                        {/foreach}
                        {/if}                   

						<div class="topicalIssues">
							<h3>TOPICAL ISSUES</h3>

						<!-- START MENU -->
							{foreach $topicalIssues as $getTopical}
							<div class="menu row">
								<div class="col-md-12">
									<a href="{$basedomain}home/content/?id={$getTopical.id}&&type=2&&lang={$smarty.session.lang}">
										<div class="row">
											<div class="col-xs-3" style="padding:0;">
												<img src="{$basedomain}public_assets/news/icon/{$getTopical.icon_image}" width="50px" height="50px">
											</div>
											<div class="col-xs-9" style="padding-left:0; font-size: 12px;">
												{$getTopical.$title}
											</div>
										</div>
									</a>
								</div>
							</div>
							{/foreach}

						</div>
				</div>
				