<div class="container uzbek-container margin-b">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3 col-md-height col-top uzbek-sidebar padding-tb">
					<!-- LEFTBAR -->
					<div class="row">
						<div class="col-md-12">
						<!-- menu -->
					      <div id="MainMenu">
					        <div class="list-group panel sidemenu">
					        {$menu = $language.menu_field}
							{$title = $language.title_field}
							{$photo_galerry = $language.photo_gallery}
							{$video = $language.video}
					            
							{foreach from=$leftMenu key=k item=getLeftMenu} 
							{if $getLeftMenu.child == ''}
					          <a href="{$basedomain}home/content/?id={$getLeftMenu.id}&&type={$getLeftMenu.menu_type}&&lang={$smarty.session.lang}" class="list-group-item list-group-item">{$getLeftMenu.$menu}</a>
					        {else}
					          <a href="#{$k}" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">{$getLeftMenu.$menu}  <span class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span></a>
						          <div class="collapse" id="{$k}">
						          	{foreach $getLeftMenu.child as $getSubMenu}
						            <a href="{$basedomain}home/content/?id={$getSubMenu.id}&&type={$getSubMenu.menu_type}&&lang={$smarty.session.lang}" class="list-group-item submenu">{$getSubMenu.$menu}</a>
						            {/foreach}
						          </div>
						    {/if}
						    {/foreach}
						      <a href="{$basedomain}media/album" class="list-group-item list-group-item">{$photo_galerry}</a>
						      <a href="{$basedomain}media/video" class="list-group-item list-group-item">{$video}</a>
					        </div>
					      </div>
						</div>
					</div>
                        {if $newestBook}
                        {foreach $newestBook as $book}
						<a target="_blank" href="https://docs.google.com/viewer?url={$book.files}" class="book" style="font-family:sans-serif;">
							<h3>{$book.title}</h3>
							<img class="img-responsive" style="width: 100px;height:138px;" src="{$book.file_icon}">
							<br>by President of Uzbekistan Islam Karimov
						</a>
                        {/foreach}
                        {/if}                   


                        {if $topicalIssues}
						<div class="topicalIssues">
							<h3>TOPICAL ISSUES</h3>

						<!-- START MENU -->
							{foreach $topicalIssues as $getTopical}
							<div class="menu row">
								<div class="col-md-12">
									<a href="{$basedomain}home/content/?id={$getTopical.id}&&type={$getTopical.menu_type}&&lang={$smarty.session.lang}">
										<div class="row">
											<div class="col-xs-3" style="padding:0;">
												<img src="{$basedomain}public_assets/news/icon/{$getTopical.icon_image}" width="50px" height="50px">
											</div>
											<div class="col-xs-9" style="padding-left:0; font-size: 12px;">
												{$getTopical.$menu}
											</div>
										</div>
									</a>
								</div>
							</div>
							{/foreach}
						</div>
						{/if}
				</div>
				