<div class="col-xs-12 col-sm-3 uzbek-col uzbek-rightbar text-center">
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/shanghai.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/problemofwater.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/2200yearsold.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/visits.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/biometric.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/c016.jpg">
	</a><br>
	<strong>We Recomend</strong>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/L00004.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/L00005.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/L00006.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/L00003.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/L00002.jpg">
	</a>
	<a href="#">
		<img src="{$basedomain}public_assets/rightbar/L00001.jpg">
	</a>
</div>